{% extends 'Ansi\GhassenBundle::layout.html.twig' %}  

{% block groups %}
<form action="{{ path('GroupDis_update', { 'id': group.id }) }}" method="post" >

    {{ form_widget(edit_form) }}

</form>
{% endblock %}
