{% extends 'Ansi\GhassenBundle::layout.html.twig' %}  

{% block groups %}
<form action="{{ path('groupDis_create')}}" method="post" {{ form_enctype(form) }}>
 
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}
